In [15]:
import importlib
import clean_data as dc
import pandas as pd
import location as l
#from location import nearby_column_creator
importlib.reload(dc)
importlib.reload(l)

In [5]:
df = pd.read_json("05_04_2025.json")
df = dc.full_transform(df, reference_date = '2025-04-05')
#df = dc.drop_useless(df)
#df = dc.fill_na(df)
#df = dc.engineer(df, reference_date = '2025-04-05')
#df = df.iloc[:100]
#df = l.nearby_column_creator(df)

In [8]:
df['rs_code']

0        None
1        None
2        None
3        None
4        None
         ...
77062    None
77063    None
77064    None
77065    None
77066    None
Name: rs_code, Length: 75390, dtype: object

In [60]:
import requests
import geopandas as gpd

# Overpass API endpoint
url = 'http://overpass-api.de/api/interpreter'

# Overpass query for shops in Tbilisi
query = """
[out:json];
node["shop"](41.5,44.7,41.8,45.0);  # Bounding box for Tbilisi
out body;
"""

# Send request to Overpass API
response = requests.get(url, params={'data': query})
data = response.json()

# Convert to GeoDataFrame
nodes = data['elements']
shops = []
for node in nodes:
    shops.append({
        'name': node.get('tags', {}).get('name', 'Unknown'),
        'lat': node['lat'],
        'lon': node['lon']
    })

# Create DataFrame
shops_df = pd.DataFrame(shops)
print(shops_df)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [61]:
df[['lat','lng']]

             lat        lng
0      44.766632  41.786839
1      44.741661  41.787536
2      44.770006  41.734802
3      44.797354  41.719437
4      44.766395  41.796564
...          ...        ...
77062  44.787526  41.708692
77063  44.787526  41.708692
77064  44.769217  41.733235
77065  44.769217  41.733235
77066  44.772458  41.687339

[75390 rows x 2 columns]

In [39]:
import pandas as pd
from collections import Counter
import re

# Example DataFrame
# Combine all comments into one long string
all_text = ' '.join(df['comment'].dropna()).lower()

# Remove punctuation and split into words
words = re.findall(r'\b\w+\b', all_text)

# Count word frequencies
word_freq = Counter(words)

# Display most common words
print(word_freq.most_common(100))

[('br', 197518), ('და', 91743), ('ბინა', 78689), ('იყიდება', 57703), ('არის', 38060), ('2', 30691), ('1', 23064), ('ოთახიანი', 21419), ('3', 20445), ('აქვს', 20443), ('მ', 16154), ('კვ', 15748), ('კორპუსში', 14868), ('გარემონტებული', 13759), ('ახალი', 13599), ('ნათელი', 12831), ('ტექნიკით', 12603), ('საძინებელი', 12278), ('ქუჩაზე', 11667), ('ავეჯით', 11392), ('ასევე', 10948), ('ბინაში', 10900), ('აივანი', 10094), ('დიდი', 10002), ('რჩება', 9710), ('ფასი', 9702), ('საძინებლით', 9652), ('ყველა', 9608), ('4', 9257), ('ავეჯი', 9231), ('სართულზე', 9062), ('ახალ', 8890), ('5', 8866), ('სველი', 8844), ('სასწრაფოდ', 8585), ('სართული', 8039), ('ხარისხის', 7856), ('ბინას', 7855), ('სამზარეულო', 7822), ('ცენტრალური', 7806), ('ორი', 7532), ('ახლოს', 7334), ('ტექნიკა', 7206), ('მისაღები', 7124), ('ოთახი', 7019), ('დამიკავშირდით', 6903), ('კორპუსი', 6817), ('ფართი', 6681), ('მდებარეობს', 6612), ('იზოლირებული', 6403), ('წერტილი', 6341), ('ტიპის', 6223), ('აშენებულ', 6048), ('მყუდრო', 5880), ('კომპლექსში', 5811), ('საუკეთესო', 5792), ('000', 5788), ('კარკასის', 5765), ('არ', 5731), ('ძალიან', 5629), ('წუთის', 5614), ('შესაძლებელია', 5414), ('რომელიც', 5279), ('მე', 5263), ('როგორც', 5181), ('ბინის', 5074), ('მწვანე', 4954), ('მაღალი', 4893), ('აივნით', 4839), ('საცხოვრებელი', 4822), ('საცხოვრებლად', 4780), ('რემონტით', 4779), ('უმაღლესი', 4733), ('შემთხვევაში', 4662), ('საჭირო', 4613), ('კორპუსის', 4611), ('დიდ', 4560), ('ჩაშენებული', 4560), ('დიღომში', 4531), ('მეტრო', 4342), ('უცხოვრებელი', 4333), ('ის', 4314), ('ადგილას', 4308), ('სავალზე', 4236), ('სრულად', 4219), ('ეზო', 4202), ('ცალკე', 4138), ('10', 4022), ('ერთი', 4012), ('7', 3997), ('სტუდიოს', 3969), ('საბურთალოზე', 3922), ('ხედით', 3904), ('აშენებული', 3885), ('თეთრი', 3703), ('ერთ', 3679), ('პრემიუმ', 3661), ('შიდა', 3614), ('გათბობა', 3581), ('დამატებითი', 3558)]

In [48]:
import pandas as pd
from collections import Counter
import re
import matplotlib.pyplot as plt

# Step 1: Combine all comments into one lowercase string
all_text = ' '.join(df['comment'].dropna()).lower()

# Step 2: Remove punctuation and split into words
words = re.findall(r'\b\w+\b', all_text)

# Step 3: Count word frequencies
word_freq = Counter(words)

# Step 4: Convert to DataFrame
freq_df = pd.DataFrame(word_freq.items(), columns=['word', 'count']).sort_values(by='count', ascending=False)
freq_df.to_csv('word_frequencies.csv', index=False,encoding='utf-8')

# # Step 5: Plot the top 10 words
# top_n = 50
# top_words = freq_df.iloc[51:80]
#
# plt.figure(figsize=(10, 6))
# plt.bar(top_words['word'], top_words['count'], color='skyblue')
# plt.title(f'Top {top_n} Most Frequent Words in Comments')
# plt.xlabel('Word')
# plt.ylabel('Frequency')
# plt.xticks(rotation=90)
# plt.tight_layout()
# plt.show()

In [3]:
df[df['bedroom_type_id'].notna()]


# Keywords for comments (Which words are important, how frequently does it appear)
# Size of comments

"""
Summarize:
1. Leave every variable (make sure model can use it though)
2. Document NAs
3. Take existing data and calculate mean, median and mode for categories number of rooms. Calculate standard deviation from the mean or median num of rooms for that specific house.
4. Level of urbanization
5. Population levels of the Ubani
6. Number of shops nearby and stuff
7. Proper pipelines
8. ML flow
"""

Empty DataFrame
Columns: [id, price_2_price_total, condition_id, district_id, district_name, urban_id, urban_name, status_id, estate_status_types, room_type_id, published, bedroom_type_id, bathroom_type_id, bathroom_type, project_type_id, project_type, hot_water_type_id, heating_type_id, heating_type, parking_type_id, parking_type, height, balconies, balcony_area, lat, lng, storeroom_type_id, storeroom_type, material_type_id, material_type, address, comment, last_updated, created_at, area, floor, total_floors, views, is_old, appear_rs_code, can_exchanged, for_special_people, storeroom_area, swimming_pool_type, hot_water_type, condition, living_room_type, build_year, living_room_area, loggia_area, porch_area, street_id, point_coordinates, user_statements_count, user_id, has_color, is_vip, is_vip_plus, is_super_vip, has_gas, has_internet, has_TV, has_air_conditioner, has_alarms, has_elevator, has_ventilation, has_freight_elevator, has_chimney, has_furniture, has_telephone, has_protection, has_Jacuzzi, has_swimming_pool, has_sauna, has_fridge, has_washing_machine, has_dishwasher, has_stove, has_oven, has_living_room, has_loggia, has_veranda, has_water, has_sewage, has_electricity, has_spa, has_bar, has_gym, has_coded_door, has_grill, has_bed, has_sofa, has_table, has_chair, has_kitchen_with_technology, has_storage_room, Booking/AirBnb account, for_investment, user_type, has_project_id, ...]
Index: []

[0 rows x 102 columns]

In [22]:
#df[df["can_exchanged"].apply(lambda x: x != [])]
for col in df.columns:
    print(col)
    print(df[col].dtype)

id
int64
price_2_price_total
int64
condition_id
float64
district_id
float64
district_name
object
urban_id
float64
urban_name
object
status_id
int64
estate_status_types
object
room_type_id
int64
published
bool
bedroom_type_id
float64
bathroom_type_id
float64
bathroom_type
object
project_type_id
float64
project_type
object
hot_water_type_id
float64
heating_type_id
float64
heating_type
object
parking_type_id
float64
parking_type
object
height
float64
balconies
float64
balcony_area
float64
lat
float64
lng
float64
storeroom_type_id
float64
storeroom_type
object
material_type_id
float64
material_type
object
address
object
comment
object
last_updated
object
created_at
datetime64[ns]
area
float64
floor
int64
total_floors
int64
views
int64
is_old
bool
appear_rs_code
bool
can_exchanged
bool
for_special_people
bool
storeroom_area
float64
swimming_pool_type
object
hot_water_type
object
condition
object
living_room_type
object
build_year
object
living_room_area
float64
loggia_area
float64
porch_area
float64
street_id
int64
point_coordinates
object
user_statements_count
int64
user_id
int64
has_color
bool
is_vip
bool
is_vip_plus
bool
is_super_vip
bool
has_gas
bool
has_internet
bool
has_TV
bool
has_air_conditioner
bool
has_alarms
bool
has_elevator
bool
has_ventilation
bool
has_freight_elevator
bool
has_chimney
bool
has_furniture
bool
has_telephone
bool
has_protection
bool
has_Jacuzzi
bool
has_swimming_pool
bool
has_sauna
bool
has_fridge
bool
has_washing_machine
bool
has_dishwasher
bool
has_stove
bool
has_oven
bool
has_living_room
bool
has_loggia
bool
has_veranda
bool
has_water
bool
has_sewage
bool
has_electricity
bool
has_spa
bool
has_bar
bool
has_gym
bool
has_coded_door
bool
has_grill
bool
has_bed
bool
has_sofa
bool
has_table
bool
has_chair
bool
has_kitchen_with_technology
bool
has_storage_room
bool
Booking/AirBnb account
bool
for_investment
bool
user_type
object
has_project_id
bool
has_rs_code
bool
rent_period_category
object

In [19]:
"""
condition_id = -1
district_id = -1
district_name = "-1"
urban_id = -1
urban_name = "-1"
bedroom_type_id = 0
bathroom_type_id = -1
bathroom_type = "-1"
project_type = "-1"
project_id = ?
hot_water_type_id = -1
heating_type_id = -1
heating_type = "-1"
parking_type_id = -1
parking_type = "-1"
balconies = 0
balcony_area = 0
storeroom_type_id = -1
storeroom_type = "-1"
material_type_id = -1
material_type = "-1"
address = "-1"
comment = "-1"
rs_code = ?
rent_period = ?
swimming_pool_type = "-1"
hot_water_type = "-1"
condition = "-1"
living_room_type = "-1"
build_year = "-1"
living_room_area = 0
porch_area = 0
loggia_area = 0
user_type = "-1"
bathroom_type_id = -1
project_type_id = -1
storeroom_area = 0
"""
table = df.isna().sum().reset_index()
table.columns = ["variable","num_of_na"]
table[table["num_of_na"]>0]

Empty DataFrame
Columns: [variable, num_of_na]
Index: []

In [ ]:
"""
Haven't dealt with:
"user_id" - Turn into bins of how much each user is selling. (Or what type of user is selling this house)
"project_id" - Turn into a boolean (840 have it)
"rs_code" - Turn into a boolean (1272 have it)

Keeping
"can_exchanged" (225 True values)
"has_color" (1033 True values)

is_vip: Collapse from all three
    "is_vip" (461 rows True)
    "is_vip_plus" (314 rows True)
    "is_super_vip" (135 rows True)

"has_chimney" (1617 rows True)
"has_Jacuzzi" (841 rows True)
"has_swimming_pool" (873 rows True)
"has_sauna" (777 rows True)
"has_spa" (1461 rows True)
"has_bar" (1393 rows True)
"has_gym" (2004 rows True)
"has_grill" (631 rows True)

"appear_rs_code" (4741 rows True)
"""

In [16]:
df = pd.read_json('duplicate_free.json')

In [17]:
df

,data_update_count,id,uuid,price_1_price_total,price_1_price_square,price_2_price_total,price_2_price_square,price_3_price_total,price_3_price_square,condition_id,...,with_approved_project_53,can_be_divided_54,images_large,images_blur,images_thumb,airbnb_link,booking_link,user_type,additional_information,true_duplicate_id
0,1,21103833,aa63ec33-2361-4112-b19b-7eb6aa4c34de,119000,4577,43268,1664,38081,1465,1.0,...,False,False,[https://api-statements.tnet.ge/uploads/202504...,[https://api-statements.tnet.ge/uploads/202504...,[https://api-statements.tnet.ge/uploads/202504...,None,None,physical,"[published, can_exchanged, appear_rs_code]",14765
1,1,20698388,d753bc86-f3b0-4483-9656-0aefa0cccc40,253028,3321,92000,1207,80971,1063,NaN,...,False,False,[https://api-statements.tnet.ge/uploads/202503...,[https://api-statements.tnet.ge/uploads/202503...,[https://api-statements.tnet.ge/uploads/202503...,None,None,physical,"[published, appear_rs_code]",14766
2,1,21103788,9427de61-65e9-404f-a890-e6fe4831ea11,110012,3056,40000,1111,35205,978,1.0,...,False,False,[https://api-statements.tnet.ge/uploads/202504...,[https://api-statements.tnet.ge/uploads/202504...,[https://api-statements.tnet.ge/uploads/202504...,None,None,agent,"[published, appear_rs_code]",14767
3,1,20171811,ce81b965-ac9a-4079-925b-f72141843e1a,383667,4263,139500,1550,122777,1364,7.0,...,False,False,[https://api-statements.tnet.ge/uploads/202503...,[https://api-statements.tnet.ge/uploads/202503...,[https://api-statements.tnet.ge/uploads/202503...,None,None,physical,"[published, appear_rs_code]",14768
4,1,20246193,6fe19c70-8dbe-4848-bba6-bbfc7cec329d,220024,4045,80000,1471,70410,1294,7.0,...,False,False,[https://api-statements.tnet.ge/uploads/202503...,[https://api-statements.tnet.ge/uploads/202503...,[https://api-statements.tnet.ge/uploads/202503...,None,None,physical,"[published, appear_rs_code]",14769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78362,1,19285735,b42877e9-34be-43dd-9d06-3c3b78b28303,214468,3850,77980,1400,68632,1232,1.0,...,False,False,[https://api-statements.tnet.ge/uploads/202409...,[https://api-statements.tnet.ge/uploads/202409...,[https://api-statements.tnet.ge/uploads/202409...,None,None,developer,"[published, appear_rs_code]",42802
78363,1,14226563,0dd5a58a-cded-4a7a-95cd-90da57ddc19a,310921,2338,113050,850,99498,748,5.0,...,False,False,[https://static.my.ge/myhome/photos/3/6/5/6/2/...,"[None, None, None, None, None, None, None]",[https://static.my.ge/myhome/photos/3/6/5/6/2/...,None,None,developer,"[published, is_old]",42803
78364,1,13596219,faa4109a-b06f-46d7-83f8-73236b4d6867,290927,3383,105780,1230,93100,1083,5.0,...,False,False,[https://static.my.ge/myhome/photos/9/1/2/6/9/...,"[None, None, None, None, None, None]",[https://static.my.ge/myhome/photos/9/1/2/6/9/...,None,None,developer,"[published, is_old]",42804
78365,1,14831335,6a01678e-844d-4034-a1b1-7133e6304df0,283061,4263,102920,1550,90582,1364,5.0,...,False,False,[https://static.my.ge/myhome/photos/5/3/3/1/3/...,[None],[https://static.my.ge/myhome/photos/5/3/3/1/3/...,None,None,developer,"[published, is_old, for_special_people]",42805
78366,1,16164973,14df3904-5f50-48da-9714-a48d82e6feaa,473052,7630,172000,2774,151381,2442,7.0,...,False,False,[https://api-statements.tnet.ge/uploads/202504...,[https://api-statements.tnet.ge/uploads/202504...,[https://api-statements.tnet.ge/uploads/202504...,None,None,developer,"[published, is_old, for_special_people]",42806

In [18]:
df = dc.full_transform(df, reference_date = '2025-04-19')

In [19]:
df

,id,price_2_price_total,price_2_price_square,condition_id,district_id,district_name,urban_id,urban_name,status_id,estate_status_types,...,has_chair,has_kitchen_with_technology,has_storage_room,Booking/AirBnb account,for_investment,user_type,true_duplicate_id,user_id_count,created_days_ago,updated_days_ago
0,21103833,43268,1664,1.0,4.0,ვაკე-საბურთალო,47.0,საბურთალო,2,ახალი აშენებული,...,True,True,True,True,False,physical,14765,1,1,1
1,20698388,92000,1207,NaN,4.0,ვაკე-საბურთალო,29.0,დიდი დიღომი,2,ახალი აშენებული,...,False,True,True,False,False,physical,14766,1,43,0
2,21103788,40000,1111,1.0,4.0,ვაკე-საბურთალო,47.0,საბურთალო,3,მშენებარე,...,True,True,False,False,False,agent,14767,59,1,1
3,20171811,139500,1550,7.0,4.0,ვაკე-საბურთალო,43.0,ლისი,2,ახალი აშენებული,...,False,False,False,False,False,physical,14768,3,98,1
4,20246193,80000,1471,7.0,4.0,ვაკე-საბურთალო,43.0,ლისი,2,ახალი აშენებული,...,False,False,False,False,False,physical,14769,3,88,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78362,19285735,77980,1400,1.0,4.0,ვაკე-საბურთალო,39.0,ვაშლიჯვარი,2,ახალი აშენებული,...,True,True,False,False,False,developer,42802,1,207,172
78363,14226563,113050,850,5.0,1.0,გლდანი-ნაძალადევი,10.0,ნაძალადევი,2,ახალი აშენებული,...,False,False,False,False,False,developer,42803,17,816,136
78364,13596219,105780,1230,5.0,1.0,გლდანი-ნაძალადევი,10.0,ნაძალადევი,2,ახალი აშენებული,...,False,False,False,False,False,developer,42804,17,921,136
78365,14831335,102920,1550,5.0,4.0,ვაკე-საბურთალო,47.0,საბურთალო,3,მშენებარე,...,False,False,False,False,False,developer,42805,1,744,358
78366,16164973,172000,2774,7.0,6.0,ძველი თბილისი,66.0,მთაწმინდა,3,მშენებარე,...,False,True,False,False,False,developer,42806,4,570,542

In [20]:
df.to_json("clean_df_with_na.json")